@model WRLDCWareHouseWebApp.ViewModels.FreqPageViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Transform Frequency</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="TransformFrequency">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FromDateValue" class="control-label"></label>
                <input asp-for="FromDateValue" type="date" class="form-control" />
                <span asp-validation-for="FromDateValue" class="text-danger"></span>
                <label asp-for="ToDateValue" class="control-label"></label>
                <input asp-for="ToDateValue" type="date" class="form-control" />
                <span asp-validation-for="ToDateValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Transform Frequency" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}