@using WRLDCWarehouse.ETL.Enums
@model WRLDCWareHouseWebApp.ViewModels.EntityExtractViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Extract Entities</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="VoltLevels">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Voltage Levels" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Regions">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Regions" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Owners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Owners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ConductorTypes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Conductor types" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="States">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import States" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="MajorSubstations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Major Substations" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Substations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Substations" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}