@using WRLDCWarehouse.ETL.Enums
@model WRLDCWareHouseWebApp.ViewModels.EntityExtractViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Extract Entities</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="VoltLevels">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Voltage Levels" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Regions">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Regions" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Owners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Owners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ConductorTypes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Conductor types" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="States">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import States" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="MajorSubstations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Major Substations" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Substations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Substations" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SubstationOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Substation Owners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AcTransmissionLines">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Ac Transmission Lines" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AcTransLineCkts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Ac Transmission Line Circuits" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AcTransLineCktOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Ac Transmission Line Circuit Owners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Buses">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Buses" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Fuels">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Fuels" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerationTypes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Generation Types" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerationTypeFuels">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Generation Type Fuel relations" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GeneratorClassifications">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Generator Classifications" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GeneratingStations">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Generating Stations" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GeneratingStationOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Generating Station Owners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GeneratorStages">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Generator Stages" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GeneratorUnits">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Generator Units" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="TransformerTypes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Transformer Types" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Transformers">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Transformers" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="TransformerOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import Transformer Owners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="BusReactors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import BusReactors" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="BusReactorOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import BusReactor Owners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="LineReactors">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import LineReactors" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="LineReactorOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import LineReactor Owners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FilterBanks">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import FilterBanks" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="FilterBankOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import FilterBankOwners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="HvdcLines">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import HvdcLines" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="HvdcLineCkts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import HvdcLineCkts" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="HvdcLineCktOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import HvdcLineCktOwners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="HvdcPoles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import HvdcPoles" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="HvdcPoleOwners">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityWriteOption" class="control-label"></label>
                <select asp-for="EntityWriteOption" asp-items="Html.GetEnumSelectList<EntityWriteOption>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="EntityWriteOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Import HvdcPoleOwners" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}